@charset "utf-8";
/*  动态列表begin  */
.actList{width: 1200px;min-height:400px;padding-bottom:30px;margin:0 auto;background: #fff;}
.listAll {
	height: auto;
	width: 1170px;
	padding:28px 15px 0;
}
.tabs{width:1168px;height: 49px;background: #f5f5f5;border:1px solid #e5e5e5;}
.tabs ul{width: 900px;height: 52px;margin:0 auto;}
.actList .tabs ul{width: auto;margin:0 auto;}
.tabs li{position: relative;}
.block{display: block!important;}
.none{display: none!important;}
.tabs li a{
	display: inline-block;
	font-size: 18px;
	color: #2b2b2b;
	float: left;
	width: 137px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	border-right:1px solid #e5e5e5;
	cursor: pointer;
	position: relative;
}
.tabs li a img{display: inline-block;}
.tabs li a em{font-size: 18px;position: relative;}
/*.tabs li a em:after{content: '';width: 9px;height: 6px;position: absolute;right:-14px;top:10px;
background: url(../images/down_arrow_icon.png) no-repeat right 0;background-size: 9px 6px;
}
.tabs li .current em:after{
background: url(../images/down_arrow_icon2.png) no-repeat right 0;background-size: 9px 6px;
}*/
.tabs li .current{background: #fff;}
.tabs li .current div b{color:#2b2b2b;}
.tabs li div{
	display: none;
	width:260px;
	height: auto;
	position:absolute;
	left:-1px;
	top: 49px;
	border: 1px solid #e5e5e5;
	background: #fff;
	line-height:26px;
	z-index: 5;
}
.tabs a:hover div{display: block;}
.tabs li div b{height:32px;line-height: 32px;font-size: 14px;display: inline-block;width: 100%;text-align: center;}
.tabs li div b.on{color: #fff;background-color: #2d6393;}
.tabs li div b:hover{cursor: pointer;}
.listCon {
	width: 1098px;
	margin-left: 36px;
	display: none;
}
.listBox a{font-size: 18px;color: #2d6393;line-height: 1;padding:25px 0 24px;display: block;font-weight: bold;}
.listBox a:hover{color: #2d6393;}
.listBox{width: 1098px;height: 191px;border-bottom: 1px dashed #f4f2f3;}
.detailAll{width: 100%;clear: both;}
.detailAll img{width:138px;height: 107px;float: left;display: inline-block;}
.listDetail{float:left;display: inline-block;/*width: 940px;*/height: 77px;}
.detailAll a{float: left;padding: 0;}
.detailAll a+.listDetail{width: 940px;margin-left: 15px;}
.listDetail p{font-size: 13px;color: rgb(53,53,53);line-height: 24px;}
.listDetail em,.listDetail span{font-size: 12px;color: rgb(140,140,140);display: inline-block;line-height: 1;padding-top:16px;}
.listDetail em{padding-left: 18px;padding-right: 30px;background: url(../images/front/list-time.png) no-repeat left 15px;
background-size: 14px 14px;}

.rightMenu{position: absolute;right: 0;top: 123px;width: 210px;height: 289px;
background: url(../images/dt-index.png) no-repeat left 0;
background-size: 15px 289px;}
.rightMenu a,.rightMenu h3{font-size: 14px;font-weight: bold;color: #555;position: absolute;left:24px;}
.rightMenu a{top:47px;cursor: pointer;}
.rightMenu h3{top:97px;}
.rightMenu .condCur:after{content:'';width:17px;height:9px;background: url(../images/condPot.png) no-repeat 0 0;background-size: 17px 9px;
position: absolute;left: -34px;top:6px;}
.rightMenu a.condCur:after{left:-24px;}
.rightMenu b,.rightMenu em{font-size: 14px;color: #696868;position: absolute;left:35px;cursor: pointer;}
.rightMenu b{top: 139px;}
.rightMenu em{top: 175px;}
/*  动态列表end  */

/* 专题-全创改/战新  begin   */
.quanchuanggai{width: 1170px;padding:15px 15px 32px;margin:0 auto;background: #fff;}
.quanchuanggai img{width: 1170px;height: 270px;display: block;}
.AllCG{width: 1170px;height: 600px;padding:0 15px;margin: 0 auto;background: #fff;}
.AGtit{height: 33px;line-height: 33px;background:#eaf3fc url(../images/title_bg.png) no-repeat 0 0;
background-size: 120px 33px;font-family:'黑体';font-size: 20px;color: #fff;padding-left: 9px;border-bottom: 1px solid #2d6393;}
.AllCG-left {
	height: 600px;
	width: 562px;
	font-family: '宋体';
	float: left;
}
.AGtabs{
	width: 562px;
	height: 40px;
	padding-top: 14px;
	border-bottom: 1px solid #ededed;
}
.tabs ul{width: 562px;height: 40px;}
.AGtabs li {
	float: left;
}
.AGtabs li a{
	font-size: 16px;
	color: #494646;
	width: 84px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
.AGtabs .AGcur {
	font-size: 18px;
	color:#2d6393;
	border-bottom:1px solid #2d6393;
}
.AGcon {
	clear: both;
	width: 562px;
}
.AGcon ul {
	display: none;
	padding-top: 8px;
}
.AGcon li {
	border-bottom: 1px dashed #f4f2f3;
	position: relative;
	padding-left: 18px;
}
.AGcon li:after{
	content:'.';
	position: absolute;
	left: 4px;
	top: -16px;
	font-size: 36px;
	color: #6a6566;
}
.AGcon li a{
	display: inline-block;
	font-size: 15px;
	color: #2b2b2b;
	height: 40px;
	line-height: 40px;
	width: 345px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}
.AGcon li i{float: right;font-size: 15px;color: #2b2b2b;height: 40px;
	line-height: 40px;padding-right: 12px;}

.AllCG-right{width: 509px;height:600px;margin-left:45px;padding-left:52px;float: left;}
.AllCG-right .AGcon2 {width: 480px;height:567px;position: relative;padding-top: 18px;}
.AllCG-right .AGcon2:after{content: '';height: 440px;width: 1px;background: #f4f2f3;position: absolute;left: -50px;top:20px;}
.AGcon2 li {
	border-bottom: 1px dashed #f4f2f3;
	position: relative;
	padding-left: 18px;
}
.AGcon2 li:after{
	content:'.';
	position: absolute;
	left: 4px;
	top: -15px;
	font-size: 36px;
	color: #6a6566;
}
.AGcon2 li a{
	display: inline-block;
	font-size: 15px;
	color: #2b2b2b;
	height: 40px;
	line-height: 40px;
	width: 345px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}
.AGcon2 li i{float: right;font-size: 15px;color: #2b2b2b;height: 40px;
	line-height: 40px;padding-right: 12px;}
/* 专题-全创改/战新  end   */

/* 服务拓展begin   */
.serExp{width: 1170px;background: #fff;margin:0 auto;padding:0 15px 35px;}
.serExp h3{color:#2d6393;font-size: 16px;line-height: 1.5;padding:7px 0;border-bottom: 1px solid #d9dbdc;position: relative;}
.serExp h3:after{content:'';width: 226px;height: 1px;background:#2d6393;position: absolute;bottom: 0;left: 0;}
.serExp li{clear:both;height: 46px;line-height: 46px;color: #6a6566;margin:0 28px 0 18px;padding-left:7px;border-bottom: 1px dashed #f2f2f2;position: relative;}
.serExp li:before{content:'.';
	position: absolute;
	left: -8px;
	top: -12px;
	font-size: 36px;
	color: #6a6566;
}
.serExp li b{font-size: 15px;}
.serExp li em{float: right;font-size: 14px;color: #2d6393;cursor:pointer;padding-left:20px;
background: url(../images/download.png) no-repeat 0 17px;background-size:12px 12px;}

/* 服务拓展end   */

/*  示范基地begin */
.basetit{margin:0 15px;height: 33px;line-height: 33px;background:#eaf3fc url(../images/front/title_bg.png) no-repeat 0 0;
background-size: 120px 33px;font-family:'黑体';font-size: 20px;color: #fff;padding-left: 9px;border-bottom: 1px solid #2d6393;}

.cxzg-video-wrapper{
	width: 1168px;
	margin:0 15px 0 15px;
	border: 1px solid #dedede;
	overflow: hidden;
}
.cxzg-slider-container{
	width: 820px;
	height: 410px;	
	position: relative;
}
.cxzg-slider-body{
	width: 6560px;
	position: relative;
	overflow: hidden;
}
.cxzg-slider-body li{
	width: 820px;
	height: 410px;
	float: left;	
}
.cxzg-slider-body li a{
	display: block;
	width: 100%;
	height: 474px;
	overflow: hidden;
}
.cxzg-slider-body li img{
	width: 100%;
	position: relative;
}
#cxzg-focus{
	position: absolute;
	right: 20px;
	bottom: 11px;
}
#cxzg-focus span{
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 9px;
	background: url('../images/front/point_bg.png') no-repeat;
	background-position-x: -22px;
}
#cxzg-focus span.on{
	background-position-x: 0px;
}
.cxzg-slider-container .prev{
	position: absolute;
	left: 0;
	width: 29px;
	height: 76px;
	top: 50%;
	margin-top: -38px;
}
.cxzg-slider-container .next{
	position: absolute;
	right: 0;
	width: 29px;
	height: 76px;
	top: 50%;
	margin-top: -38px;
}
.cxzg-slider-container .bottom-bg{
	position: absolute;
	width: 304px;
	height:410px;
	padding: 0 22px;
	right: -348px;
	top: 0;
	background: #fff;
	z-index: 5;
}
#cxzg-title-ul li{
	height:67px;
	line-height:67px;
	display: none;
}
#cxzg-title-ul li b{
	display: block;
	padding-top: 20px;
	color: #2d6393;
	font-size: 16px;
	line-height: 2;
	font-weight: bold;
	height: 84px;
}
#cxzg-title-ul li .BElun1{font-size: 12px;color: #686464;}
#cxzg-title-ul li p{font-size: 14px;color: #2b2b2b;line-height: 2.2;}
#cxzg-title-ul li p.sc{height: 120px;margin-top:20px;}
#cxzg-title-ul li a{font-size:14px;color:#2d6393;width:304px;height: 75px;line-height: 75px;
text-align: right;display: block;border-top: 1px solid #dedede;margin-top: 95px;
}
#cxzg-title-ul li.active{
	display: block;
}
.JiDiKu{display:block;width: 100px;height: 34px;line-height: 34px;padding-left:84px;font-size: 16px;color: #fff;
background:#3e7ab0 url(../images/JiDiKu.png) no-repeat 52px 8px;background-size: 18px 16px;
position: absolute;right:79px;top:123px;z-index: 3;}
.JiDiKu:hover{color:#fff;}
.tabs .leixing a{width:195px;padding-right: 15px;}
.tabs .leixing div{left: 0;}
.tabs .leixing .current:after,.tabs .leixing a:hover:after{left:45px;}
.rightMenu2{position: absolute;right: 0;top: 188px;width: 210px;height: 289px;
background: url(../images/baseImg.png) no-repeat left 0;
background-size: 14px 205px;}
.rightMenu2 a,.rightMenu2 h3{font-size: 14px;font-weight: bold;color: #555;position: absolute;left:24px;}
.rightMenu2 a{cursor: pointer;}
.rightMenu2 .baseExp1{top:47px;}
.rightMenu2 .baseExp2{top:93px;}
.rightMenu2 .baseExp3{top:149px;}
.rightMenu2 h3{top:97px;}
.rightMenu2 .condCur:after{content:'';width:17px;height:9px;background: url(../images/condPot.png) no-repeat 0 0;background-size: 17px 9px;
position: absolute;left: -24px;top:6px;}
.rightMenu2 b,.rightMenu2 em{font-size: 14px;color: #696868;position: absolute;left:35px;cursor: pointer;}
.rightMenu2 b{top: 139px;}
.rightMenu2 em{top: 175px;}
.fujian-list li a{
	display: inline-block;
	float: right;
	text-decoration: underline;
	color: #2d6393;
}
#city-list{
	width: 300px;
	max-height: 303px;
	padding: 10px;
	overflow-y: auto;
}
#city-list span{
	display: inline-block;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 2px 5px;
    line-height: 16px;
}
#city-list span.on{
	color: #fff;
    background-color: #2d6393;
    border-radius: 3px;
}
#shtt-list{
	padding: 0;
}
#shtt-list b{
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
}
#shtt-list b.on{
	background-color: #2d6393;
	color: #fff;
}
/*  示范基地end */