@charset "utf-8";
/*  基地详情   begin   */
.focus {
	height: 534px;
	width: 1170px;
	margin:0 auto;
	padding:0 15px;
	position: relative;
	background:#fff;
}
.focus h2{
	font-size: 36px;
	color: #2b2b2b;
	height: 116px;
	line-height: 116px;
	text-align: center;
}
.pics li {
	display: none;
	height: 418px;
	width: 1170px;
}
.pics li img{height: 418px;width: 1170px;}
.smallPics{position: absolute;top:0;right:15px;width: 204px;height: 410px;}
.smallPics li { position: absolute; top: 118px; z-index: 100; right:25px!important;background: #fff; }
.smallPics li a{display: block;background: #fff;opacity: 1;}
.smallPics li img {
	width: 194px;
	height: 109px; 
	border: 5px solid #FFF;
	opacity: 1;
}
#focus .block { background-color: red;width: 194px;height: 109px;position: absolute; right: 0px;top: 118px;}
/*.AGcon ul覆盖了actlist.css中的样式*/
.AGcon ul{display: block;padding-top: 3px;}
.cond .AGtit{width: 822px;}
.cond{width:1170px;min-height:332px;padding:32px 15px 0;margin:0 auto;background: #fff;position: relative;padding-bottom: 40px;}
.condWord{width: 815px;min-height: 300px;}
.condWord p{font-size: 16px;color: #2b2b2b;line-height:32px;padding:16px 26px 0 10px;display: none;}
.condWord p.active{display: block;}
.condTit{width: 152px;height: 298px;
background-size: 15px 289px;position: absolute;right:70px;top: 40px;}
.condTit li a{font-size: 14px;color: #555555;cursor: pointer;padding-left: 24px;background: url(../images/menuclr.png) no-repeat 0 3px}
.condTit li.condCur a{background: url(../images/condPot.png) no-repeat 0 5px;background-size: 17px 9px;color: #2d6393;}
/*.condTit li a:hover{background: url(../images/condPot.png) no-repeat 0 5px;background-size: 17px 9px;}*/
/*  基地详情   end   */

/*  建言献策   begin   */
.basetit{margin:0 15px;height: 33px;line-height: 33px;background:#eaf3fc url(../images/title_bg.png) no-repeat 0 0;
background-size: 120px 33px;font-family:'黑体';font-size: 20px;color: #fff;padding-left: 9px;border-bottom: 1px solid #2d6393;}
.adviceContent{width:1200px;margin:0 auto;padding-top:25px;background-color: #ffffff;}
.adviceContent .adviceBg{display: block;width: 100%;min-width: 1000px;height: 330px;/*background: url(../img/makeRecommend/adviceBg.png) no-repeat 50% 0;*/}
.adviceContent .adviceMessage{width: 1000px;height:700px;margin:47px auto 0;overflow: hidden;position: relative;}
.adviceContent .leaveMessage{width: 557px;float: left;}
.leaveMessage .messageItem li{margin-top:24px;overflow: hidden;}
.leaveMessage .messageItem li input{float: left;width: 268px;height: 28px;line-height: 28px;margin-left: 10px;padding-left: 10px;font-size: 12px;color: #999;border-radius: 5px;border: 1px solid #dcdcdc;}
.leaveMessage .messageItem li span{float: left;margin-top: 5px;font-size: 14px;color: #6c6b6b;}
.leaveMessage .messageItem li em{float: left;margin-top: 12px;font-size: 12px;font-style: normal;color: #999;}
.leaveMessage .messageItem .messageTitle{margin-top: 0;font-size: 18px;font-weight: bold;color: #666;}
.leaveMessage .messageItem li .adviceText{float: left;padding: 5px 10px;width: 370px;height: 188px;font-size: 12px;margin-left: 10px;color: #999;border-radius: 5px;border: 1px solid #dcdcdc;resize:none;}

.leaveMessage .messageItem .adviceCode span{float: left;margin-top: 5px;}
.leaveMessage .messageItem .adviceCode input{margin-left: 0;width: 210px;float: left;}
.leaveMessage .messageItem .adviceCode img{margin: 2px 15px;float: left;cursor:pointer;}
.leaveMessage .messageItem .adviceCode a{margin-top: 5px;float: left;font-size: 12px;;color: #e33737;text-decoration: underline;cursor:pointer;}
.leaveMessage .messageItem li button {width: 118px;height: 32px;margin: 2px 0 20px 0;border: none;background-color: #2d6393;border-radius: 5px;font-size: 14px;color: #fff;cursor:pointer;}
.leaveMessage .messageItem li .submitBtn {margin: 2px 20px 20px 83px;cursor:pointer;}

.adviceNotice{float: left;margin-left: 17px;width: 393px;height:565px;padding: 16px 15px;border: 1px solid #dcdcdc;border-radius: 5px;}
.adviceNotice .noticeInfor dt{font-size: 14px;color: #f33935;font-weight:bold;margin-bottom: 11px;}
.adviceNotice .noticeInfor dd{font-size: 14px;color: #666;line-height:33px;text-align: justify;text-indent:2em;}
.adviceNotice .noticeInfor .welcome{font-size: 14px;color: #666;line-height: 18px;text-align: justify;text-indent:0;margin-bottom: 0;}
.adviceNotice .suggestTitle{margin: 28px 0 5px;overflow: hidden;font-size: 16px;color: #2d6393;}
.adviceNotice .suggestTitle span{float: right;margin-top: 2px;font-size: 13px;color: #2d6393;cursor: pointer;}
.adviceNotice .suggestInfor li{float: left;width: 100%;margin-top: 12px;overflow: hidden;}
.adviceNotice .suggestInfor li em{float: left;font-style: normal;font-size: 13px;color: #666;}
.adviceNotice .suggestInfor li a{float: left;margin-left: 25px;display: block;width: 52px;font-style: normal;font-size: 13px;color: #666;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;cursor: default;}
.adviceNotice .suggestInfor li p{float: left;margin-left: 15px;width: 120px;font-style: normal;font-size: 13px;color: #666;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.adviceNotice .suggestInfor li span{float: right;font-style: normal;font-size: 13px;color: #666;}

.btnSuccess{width: 300px;height: 120px;border: 1px solid #eee;border-radius: 5px;background-color: #fff;position: absolute;left: 56px;bottom: 59px;display: none;}
.btnSuccess .closeSuccess{float: right;cursor: pointer;margin: 8px 8px 0 0;}
.btnSuccess p{width: 278px;height: 120px;line-height: 120px;text-align: center;font-size: 20px;color: #333;}

.btnRest{width: 300px;height: 120px;border: 1px solid #eee;border-radius: 5px;background-color: #fff;position: absolute;left: 56px;bottom: 59px;display: none;}
.btnRest .closeRest{float: right;cursor: pointer;margin: 8px 8px 0 0;}
.btnRest p{width: 278px;height: 80px;line-height: 80px;text-align: center;font-size: 20px;color: #333;}
.btnRest button{width: 80px;height: 30px;border: none;outline: none;background-color: #2d6393;font-size: 16px;color: #fff;text-align: center;border-radius: 5px;}
.btnRest .btnConfirm{margin: 0 35px 0 50px;}
.leaveMessage .messageItem li .star{color:#f82e2a;padding-right:5px;}

.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../images/error.png) no-repeat left center;
}

.Validform_error{
	background-color:#ffe7e7;
}
/*  建言献策  end   */

/*  政策分析（政策温度计） begin   */
.analyze{width: 1180px;height: 680px;margin: 0 auto;padding:15px 0 0 20px;position: relative;background: #fff;}
.eacher{width:540px;height: 390px;padding-left:310px;padding-right:310px;background: rgb(238, 238, 238);}
.policyTop {
    width: 250px;
    border-radius: 3px;
    overflow: hidden;
    position: absolute;
    right: 50px;
    top:52px;
    box-shadow: 3px 1px 6px #cecece;
}

.policyTop .topTitle {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #ebeef2;
    background-color: #2d6393;
}

.policyTop .topInfo {
    width: 100%;
    min-height:204px;
    padding: 14px 7px 14px 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.policyTop .topInfo li {
   padding-left: 15px;
   position: relative;   
}
.policyTop .topInfo li a{
	color: #666;
	display:block;
	line-height:1.5;
	margin: 5px 0;
    font-size: 12px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
}
.policyTop .topInfo li a:before{position: absolute;left:0px;top:0px;width: 15px;height: 15px;}
.policyTop .topInfo li:first-child a:before{content: '1.';}
.policyTop .topInfo li:nth-child(2) a:before{content: '2.';}
.policyTop .topInfo li:nth-child(3) a:before{content: '3.';}
.policyTop .topInfo li:nth-child(4) a:before{content: '4.';}
.policyTop .topInfo li:nth-child(5) a:before{content: '5.';}
.policyTop .topInfo li a:first-child a{
    color: #2d6393;
}

.policyTop .topInfo .one a{
    color: #2d6393;
}
.queryMax {
	margin-top:20px;
    margin-bottom: 50px;
}

.queryMax > li {
    border-radius: 3px;
    float: left;
    width: 274px;
    height: 210px;
    margin-right:21px;
    overflow: hidden;
    box-shadow: 0 0 4px #e0e0e0;
}

.queryMax > li.end {
    margin-right: 0px;
}

.queryMax > li .title {
    width: 100%;
    height: 30px;
    background-color: #2d6393;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

.queryMax > li ul {
    width: 100%;
    height: 180px;
    background-color: #fff;
    padding:0 10px 10px;
    box-sizing: border-box;
}

.queryMax > li ul li {
    margin: 15px 0px 8px 0px;
    height: 28px;
    line-height: 28px;
}

.queryMax > li ul li p {
    width: 218px;
   /* height: 28px;*/
    font-size: 12px;
    line-height:1.5;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    float: right;
}
.queryMax > li ul li p a{color: #666;display: block;
width: 216px;height:34px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow : hidden;
}
.queryMax > li .maxList i {
    display: inline-block;
    width: 18px;
    height: 27px;
    margin-left:5px;
}

.queryMax > li .maxList li:first-child i {
    background: url("../images/front/inquiry_01.png") 0 -3px;
}

.queryMax > li .maxList li:nth-child(2) i {
    background: url("../images/front/inquiry_02.png") 0 -3px;
}

.queryMax > li .maxList li:nth-child(3) i {
    background: url("../images/front/inquiry_03.png") 0 -3px;
}
.analyPage{
    width: 130px;
    position: absolute;
    top: -440px;
    left: 30px;
}
.analyPage a {
	display: block;
    width: 100%;
    height: 38px;
    border-radius: 3px;
    background-color: #dddddd;
    line-height: 38px;
    text-align: center;
    color: #777777;
    font-size: 16px;
    margin-bottom: 24px;
    cursor:pointer;
}

.analyPage .anaCur {
    color: #ffffff;
    background-color: #2d6393;
}
#fieldName-list{
    margin-left: 7px;
    border-left: 1px solid #d1d1d1;
    padding: 10px 0;
}
#fieldName-list li{
    margin-left: -7px;
    padding: 10px 0;
}
.queryCate {
    width: 130px;
    position: absolute;
    top: 70px;
    left: 50px;
}
.queryCate li {
    width: 100%;
    height: 38px;
    border-radius: 3px;
    background-color: #fff;
    line-height: 38px;
    text-align: center;
    color: #777777;
    font-size: 16px;
    margin-bottom: 24px;
    cursor:pointer;
}
.queryCate li.current {
    color: #ffffff;
    background-color: #2d6393;
}
.noData{margin:20px auto 0;}
/*  政策分析（政策温度计） end   */