@charset "utf-8";
/*  页头begin    */
.headAll{width:100%;height:36px;padding:47px 0  37px;}
.header{width: 1200px;height:36px;margin:0 auto;}
.searchBox{width: 413px;;}
.searchBox ul{float: left;}
.searchBox li{float: left;height: 37px;line-height: 37px;}
.search{width: 306px;height: 37px;background: url(../images/front/search.png) no-repeat center center;
background-size: 100% 100%;position: relative;float: left;}
.search input{border:none;background:transparent;}
.search .sWord{font-size: 16px;height:37px;line-height: 37px\0;width: 197px;padding-left: 20px;}
.search .sBtn{width: 42px;height: 37px;line-height: 37px;position: absolute;right: 0;top: 0;
cursor:pointer;z-index: 5;}
.searchBox .mobile{text-align: right;width:11px;margin-left:19px;margin-right:8px;

background-size: 11px 18px;position: relative;}
.searchBox .weixin{text-align: right;width:22px;margin-left:8px;margin-right:6px;
background-size: 22px 18px;position: relative;}
.searchBox .sina{text-align: right;width:21px;margin-left:6px;margin-right:6px;
background-size: 21px 18px;position: relative;}

.searchBox .mobile:hover,.searchBox .weixin:hover,.searchBox .sina:hover{
	cursor: pointer;
}
.searchBox .mobile img,.searchBox .weixin img,.searchBox .sina img{
	display: none;
	z-index: 9;
}
.searchBox .mobile:hover img{
	display: block;
	position: absolute;
	left:-52px;top:37px;
}
.searchBox .weixin:hover img{
	display: block;
	position: absolute;
	left:-52px;top:37px;
}
.searchBox .sina:hover img{
	display: block;
	position: absolute;
	left:-52px;top:37px;
}
.headNav{width: 100%;height: 44px;height: 44px;line-height: 44px;background:#2D6392;}
.headNav>div{width:1200px;height: 44px;margin:0 auto;position: relative;}
.headNav a,.headNav i{display:inline-block;width:171px;height: 44px;line-height: 44px;
float: left;text-align: center;color: #fff;font-size:22px;font-weight:bold;position: relative;}
.headNav a:after{content: '';width: 2px;height: 27px;position: absolute;right: -2px;top: 9px;
background: url(../images/front/navLine.jpg) no-repeat center center;background-size: 2px 27px;}
.headNav a:hover{background-color:#3E7AB0;color:#fff;}
.headNav a:hover:after{display: none;}
.headNav .navLineNo:after{display: none;}
.headNav i{display:none;position: absolute;left: -1px;top: 44px;width:172px;background-color:#2d6393;font-size:16px;color:#fff;cursor:pointer;z-index:3;}
.headNav .navindex2{top: 88px;}
.headNav .navindex2:before{content: '';position: absolute;left: 15px;top: 0;width: 143px;height: 1px;
background:#cad9e5;}
.headNav a:hover i{display: block;}
/*  页头end    */

/*  页底begin    */
.lastCon{padding-bottom:91px;}
.ywrap{height:auto;min-height:100%;background-color:#F2F2F2;}

.footAll{width: 100%;height:91px;}
.footTit{background-color: #7E7E7E;width: 100%;height: 50px;line-height: 50px;}
.footTop{width: 1200px;height: 50px;line-height: 50px;margin:0 auto;}
.footTop a{height: 50px;line-height: 50px;width: 150px;display: inline-block;
float: left;color: #fff;font-size: 16px;}
.footTop a:hover{color: #fff;}
.footTop .footTopLast{width: 65px;}

.footCon{width: 1200px;height: 150px;margin:0 auto;font-size: 14px;}
.footCon ol{float: left;height: 210px;margin-top: 10px;}
.footCon ol a{color: #b1b0b0;font-size:14px;width: 150px;height: 29px;line-height: 29px;display: inline-block;}
.footer{width:100%;height:242px;background-color: #393C41;}

.footAbout{width:100%;height: 125px;background-color:#2d6393;text-align：center;color:#fff;font-size:12px;}

.footAbout>div{width: 740px;margin:0 auto;position: relative; }
.footAbout>div img{position: absolute;top: 21px;}
.footAbout>div ul{position: absolute;left: 70px;top:20px;width: 500px;margin-top:0px;}
.footAbout>div ul a{color: #fff;display: inline-block;width:85px;height:20px;line-height:1;line-height: 20px;border-left: 1px solid #fff;}
.footAbout>div b{color: #fff;position: absolute;left: 70px;top: 55px;}
.footAbout>div p{color: #fff;position: absolute;left: 277px;top: 55px;}

.footAbout li{text-align：center;line-height:22px;}
/*  页底end    */

/* 面包屑begin  */
.indexWrap{width: 1200px;height: 42px;margin:0 auto;background: #fff;clear: both;}
.index{height:41px;line-height:41px;margin:0 15px 0 14px;padding-left:21px;width:1150px;background: url(../images/index.png) no-repeat 0px 13px;
background-size:16px 14px;border-bottom: 1px solid #dedede;}
.index a{float: left;display: inline-block;color: #353333;background: url(../images/dayu.png) no-repeat 7px 15px;
background-size:6px 12px;padding-left: 21px;font-size: 14px;}
.index a.ind1{background: none;padding-left: 0;color: #2d6393;}
/*.index a:last-child{color:#353333;}*/
.liulanNum{float: right;}
/*xhj 20180428 add**/
.index label{display:none;}
/* 面包屑end */

/*  分页 页码  begin  */
#page,.page{text-align: center;}
/*  分页 页码  begin  */

/* 换一批  begin */
.huanyipi{font-size: 14px;color:#2d6393;display: block;float: right;padding-right: 15px;padding-left: 20px;
background: url(../images/huanyipi.png) no-repeat 0 10px;background-size:14px 14px;cursor: pointer;}
/* 换一批  end */

/* 返回顶部 begin */
.TopBack{
	width: 58px;
	height: 50px;
	position: fixed;
	left: 50%;
	bottom:125px;
	margin-left:600px;	
	cursor: pointer;
	display: block;
	background:#fff;
	opacity: 0.8;
	filter:alpha(opacity=80);
	z-index: 101;
}
.TopBack span{
	font-size:16px;
	display: block;
	width: 58px;
	height: 50px;
	color: #5c5a5a;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	background:url(../images/front/Top.png) no-repeat 21px 5px;
	background-size: 13px 13px;
}
.TopBack:hover{
	background:#3e7ab0;
	opacity: 0.8;
	filter:alpha(opacity=50);
}
.TopBack:hover span:hover{
	display: block;
	width: 58px;
	height: 50px;
	color: #fff;
	background:url(../images/front/TopCur.png) no-repeat 21px 5px;
	background-size: 13px 13px;
}
.layui-laypage {
    margin: 40px auto;
}
/* 返回顶部 end */

/* 载入前 */
.Sdownload{width: 100%;height: 100px;line-height:100px;text-align: center;}

/*zp*/
.query{
	border-bottom:2px dashed #dedede;
	margin-bottom:29px;
}
.query p{
	 height:37px;
	 line-height: 37px;
	 padding-bottom:18px;
}
.query select{
	width:190px;
	height: 37px;
	border: 1px solid #dedede;
	border-radius:7px;
	padding-left: 10px;
	padding-right: 10px;
}
.query input,.query select{
	font-size:16px;
	color:#696868;
}
.query p span{
	float: left;
	font-size:16px;
	color:#696868;
	display: inline-block;
	width:70px;
	height:35px;
	text-align: justify;
	margin-right:6px;
}
.query p span:after{
	content: " "; 
	display: inline-block;
	 width: 100%;
}
.query p input{
	float: left;
	 width:168px;
	 height: 37px;
	 border:1px solid #dedede;
	 border-radius:7px;
	 padding-left:10px;
	 padding-right: 10px;
}
.query i{
	display:inline-block; 
	/*padding-left: 100%;*/
	 width:100%;
}
.query button{
	width: 86px;
	height: 33px;
	background:#2c6492;
	border:0;
	border-radius:7px;
	color:#ffffff;
	cursor: pointer;
	font-size: 16px;
	
}
.t-center{
	text-align: center;
}
/*zp tab*/
.tab-title{
	height: 33px;
	line-height: 33px;
	border-bottom: 1px solid #2d6393;
	background:#EAF3FC;
	color:#ffffff;
}
.tab-title a{
	cursor: pointer;
	float: left;
	display: inline-block;
	width:110px;
	height:100%;
	font-size: 20px;
	font-family:"黑体";
	padding-left:9px;
	position: relative;
	background:url('../images/title_bg.png')no-repeat;
}
.tab-title .active{
	background:url('../images/title_bg3.png')no-repeat;
}

